body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 50vw;
    aspect-ratio: 1/1;
}

.mapBlock {
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    top: auto;
    bottom: 15px;
    padding: 10px;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 10;
}

#rasterMap {
    width: 100%;
    height: 100%;
    display: block;
}

.puzzleContainer {
    margin: 0;
    padding: 0;
    display: grid;
    border: 5px solid rgba(0.75, 0.75, 0.75, 1);
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: repeat(4, 25%);    
    gap: 0;                                 
    overflow: hidden;                      
}

.puzzlePiece {
    position: relative;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 2px solid #010101;
    object-fit: contain; 
    display: inline-block;
}

.puzzlePiece img {
    margin: 0;
    width: 100%;
    height: 100%;
}

.dragOverlay {
    pointer-events: none;
    display: none;
}

.dragged > .dragOverlay {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 0, 255, 0.75);
}

.dropping {
    background-color: #08daff;
}

.hidden {
    display: none;
}